.benefits-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list-item {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.benefits-set {
    @media screen and (min-width: 480px) {}
    
    @media screen and (min-width: 768px) {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * $benefits-gap);
    }
    
    @media screen and (min-width: 1200px) {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * $benefits-gap);
    }
}

.benefits-set-item {
    @media screen and (min-width: 480px) {}
    
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / $benefits-tablet-items - $benefits-gap);
        margin-left: $benefits-gap;
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / $benefits-desktop-items - $benefits-gap);
        margin-left: $benefits-gap;
    }
}

.benefits-item__icon-container {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: $secondary-accent-bg-cl;
    border-radius: 4px;
}

.benefits-item__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-txt-cl;
    margin-bottom: 10px;
}

.benefits-item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-txt-cl;
}