.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.clients-set {
    @media screen and (min-width: 480px) and (max-width: 766px) {
        margin: 0;
        flex-wrap: wrap;
        gap: $clients-gap;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: 0;
        flex-wrap: wrap;
        gap: $clients-gap;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.clients-set-item {
    @media screen and (min-width: 480px) and (max-width: 766px) {
        flex-basis: calc((100% - $clients-gap * 2) / $clients-mobil-items);
    }

        @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - $clients-gap * 3) / $clients-tablet-items);
    }
}

.clients__item {
    padding: 16px 32px;
    color: $logo-icons-main-cl;
    border: 1px solid $logo-icons-main-cl;
    border-radius: 4px;
    transition: color $anim, border $anim;

    @media screen and (min-width: 1200px) {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    } 

    &:hover,
    &:focus {
        color: $logo-icons-accent-cl;
        border: 1px solid $logo-icons-accent-cl;
        transform: $anim;
    }
}

.clients__icon {
    fill: currentColor;

    &:hover,
    &:focus {
        fill: currentColor;
    }
}