/* fonts */
$main-font: "Roboto";
$secondary-font: "Raleway";

/* text colors */
$main-txt-cl: #212121;
$secondary-txt-cl: #757575;
$accent-txt-cl: #2196F3;
$secondary-accent-txt-cl: #FFFFFF;

/* bg-colors */
$main-bg-cl: #FFFFFF;
$secondary-bg-cl: #2F303A;
$accent-bg-cl: #2196F3;
$secondary-accent-bg-cl: #F5F4FA;

/* logo-icons */
$logo-icons-main-cl: #AFB1B8;
$logo-icons-accent-cl: #2196F3;
$logo-icons-secondary-accent-cl: #FFFFFF;

/* animation */
$anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* sets */
$portfolio-tablet-items: 2;
$portfolio-desktop-items: 3;
$portfolio-gap: 30px;

$team-mobil-items: 1;
$team-tablet-items: 2;
$team-desktop-items: 4;
$team-gap: 30px;

$benefits-gap: 30px;
$benefits-mobil-items: 1;
$benefits-tablet-items: 2;
$benefits-desktop-items: 4;

$clients-gap: 30px;
$clients-mobil-items: 2;
$clients-tablet-items: 3;
$clients-desktop-items: 6;